.links{
    display: block !important;
    div{
       float: right;
    }
}

.btn-setting{
    background: transparent !important;
    box-shadow: none !important;
    color: #495057 !important;
    margin-right: 3em;
    i{
        margin-right: 10px;
    }
}

.dropdown-customer{
    width: 200px;
    padding: 0px;
    left: -35px;
}

//#f8f9fa