.cascading-admin-card {
    margin-top: 20px; }
    .cascading-admin-card .admin-up {
      margin-left: 4%;
      margin-right: 4%;
      margin-top: -20px; }
      .cascading-admin-card .admin-up .fas {
        padding: 2.5rem;
        font-size: 5.5rem;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
        border-radius: 3px;}
      .cascading-admin-card .admin-up .data {
        float: right;
        margin-top: 2rem;
        text-align: right; }
        .cascading-admin-card .admin-up .data p {
          color: #999999;
          font-weight: 400;
          font-size: 3em }
        .cascading-admin-card .admin-up .data h4 {
          text-align: center;
          font-size: 31px !important;
          font-weight: 400 }  
          
    .classic-admin-card .card-body .float-right .fas {
      font-size: 3rem;
      opacity: 0.5; }
  
  .classic-admin-card .progress {
    margin: 0;
    opacity: 0.7; }
  
    
  .cascading-admin-card .admin-up .fas {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  }