.logo-wrapper{
    img{
        margin: auto;
        display: block;
    }
}

.collapse{
    a{
        border: none !important;
        margin-left: 10px;
    }
} 

.collapsing{
    a{
        border: none !important;
    }
}

a{
    color: #495057;
}


.customer-menu{
    background: #f8f9fa !important;
    .item-link{
        background: #f8f9fa;
    }
    .item-link:hover{
        background: #e6e6e6 !important;
        margin-left: 0px !important;
    }
}
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none; } }

