<div class="card mb-4 wow fadeIn header-title-component">
    <!--Card content-->
    <div>
        <h4 class="mb-sm-0 pt-3">
            <span class="first-tile">Listado</span>
            <span class="spacer-title">/</span>
            <span class="second-title">Categorias</span>
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="md-form">
            <i class="fa fa-search prefix"></i>
            <input type="text" [mdbValidate]="false" [(ngModel)]="searchText" class="form-control" id="search" mdbInputDirective>
            <label for="search">Ingrese un nombre</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <div #alert class="alert alert-danger alert-dismissible fade hide-display " role="alert">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{message}}</strong>
            </div>
    </div>
    <div class="col-md-12">
        <table mdbTable>
            <button 
            popover="Actualizar"
            triggers="mouseenter:mouseleave"
            type="button" mdbBtn class="circle-button" color="primary" (click)="getAllCategory()" mdbWavesEffect>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            <thead>
              <tr class="customer-thead">
                <th class="text-center" *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                </th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of elements;let i = index">
                    <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="text-center" scope="row">{{category.name}}</td>
                    <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="text-center">{{category.created_at | date:'MM/dd/yyyy'}}</td>
                    <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex" class="text-center customer-padding">
                        <div class="btn-group" role="group">
                                <button type="button" class="btn btn-warning"  
                                popover="Editar"
                                triggers="mouseenter:mouseleave"
                                (click)="openModal(templateEdit,category)"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-danger" 
                                popover="Eliminar"
                                triggers="mouseenter:mouseleave"
                                (click)="openModal(templateDelete,category)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td> 
                </tr>
                <tr *ngIf="elements.length == 0" class="text-center">
                    <td  colspan="3">No hay resultados para mostrar</td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
              <tr>
                <td colspan="4">
                  <mdb-table-pagination (nextPageClick)="onNextPageClick($event)" (previousPageClick)="onPreviousPageClick($event)">
                  </mdb-table-pagination>
                </td>
              </tr>
            </tfoot>
        </table>
    </div>
</div>

<ng-template #templateEdit>
    <app-edit-category
        [category]="categorySelect" 
        [modalRef]="modalRef"
        (updateTable)="updateTable()"
    ></app-edit-category>
</ng-template>

<ng-template #templateDelete>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-center break-word" id="myModalLabel">¿ Desea eliminar la categoria {{categorySelect.name}} ?</h4>
      </div>
      <div class="modal-footer not-flex">
            <button type="button" mdbBtn color="primary" class="relative waves-light btn-confirm position-left" (click)="delete()" mdbWavesEffect>Si</button>
            <button type="button" mdbBtn color="secondary" class="relative waves-light btn-confirm position-right" (click)="modalRef.hide()" mdbWavesEffect>No</button>
      </div>
</ng-template>