.customer-padding{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.circle-button{
    width: 10px;
    display: flex;
    height: 67px;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -3vh;
    i{
        font-size: 20px;
    }
}